/ThorCyte/ThorCyte/Common/ImageProcess/ImageProcess/bin
/ThorCyte/ThorCyte/Common/ImageProcess/ImageProcess/obj
/ThorCyte/ThorCyte/Common/ImageProcess/ImageProcessLib/bin
/ThorCyte/ThorCyte/Common/ImageProcess/ImageProcessLib/obj
/ThorCyte/ThorCyte/Common/ThorCyteInfrastructure/bin
/ThorCyte/ThorCyte/Common/ThorCyteInfrastructure/obj
/ThorCyte/ThorCyte/GUI/Application/ThorCyte/ThorCyte/bin
/ThorCyte/ThorCyte/GUI/Application/ThorCyte/ThorCyte/obj
/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/TestCarrier/bin
/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/TestCarrier/obj
/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/bin
/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/obj
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/TestProtocol/bin
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/TestProtocol/obj
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/ThorCyte.ProtocolModule/bin
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/ThorCyte.ProtocolModule/obj
/ThorCyte/ThorCyte/GUI/Modules/AnalysisModule/bin
/ThorCyte/ThorCyte/GUI/Modules/AnalysisModule/obj
/ThorCyte/ThorCyte/GUI/Modules/ExperimentDetailModule/ExperimentDetailModule/bin
/ThorCyte/ThorCyte/GUI/Modules/ExperimentDetailModule/ExperimentDetailModule/obj
/ThorCyte/ThorCyte/GUI/Modules/HeaderModule/HeaderModule/bin
/ThorCyte/ThorCyte/GUI/Modules/HeaderModule/HeaderModule/obj
/ThorCyte/ThorCyte/GUI/Modules/ImageViewerModule/bin
/ThorCyte/ThorCyte/GUI/Modules/ImageViewerModule/obj
/ThorCyte/ThorCyte/GUI/Modules/ReviewModule/bin
/ThorCyte/ThorCyte/GUI/Modules/ReviewModule/obj
/BulidLog.txt
/ThorCyte/ThorCyte/Common/ImageProcess/ImageProcessLib/x64/Debug
