/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/bin/Debug
/ThorCyte/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/obj/Debug
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/TestProtocol/obj/Debug
/ThorCyte/ThorCyte/GUI/Modules/ProtocolModule/ThorCyte.ProtocolModule/obj/Debug
