/ThorCyte.v11.suo
/ThorCyte/Bin
/ThorCyte/Common/ComponentDataService/bin
/ThorCyte/Common/ComponentDataService/obj
/ThorCyte/Common/ImageProcess/ImageProcess/bin
/ThorCyte/Common/ImageProcess/ImageProcess/obj
/ThorCyte/Common/LogService/LogService/bin
/ThorCyte/Common/LogService/LogService/obj
/ThorCyte/Common/ROIService/ROIService/bin
/ThorCyte/Common/ROIService/ROIService/obj
/ThorCyte/Common/ThorCyteInfrastructure/bin
/ThorCyte/Common/ThorCyteInfrastructure/obj
/ThorCyte/GUI/Application/ThorCyte/ThorCyte/bin
/ThorCyte/GUI/Application/ThorCyte/ThorCyte/obj
/ThorCyte/GUI/Modules/AnalysisModule/bin
/ThorCyte/GUI/Modules/AnalysisModule/obj
/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/bin
/ThorCyte/GUI/Modules/CarrierModule/ThorCyte.CarrierModule/obj
/ThorCyte/GUI/Modules/ExperimentDetailModule/ExperimentDetailModule/bin
/ThorCyte/GUI/Modules/ExperimentDetailModule/ExperimentDetailModule/obj
/ThorCyte/GUI/Modules/GraphicModule/ThorCyte.GraphicModule/bin
/ThorCyte/GUI/Modules/GraphicModule/ThorCyte.GraphicModule/obj
/ThorCyte/GUI/Modules/HeaderModule/HeaderModule/bin
/ThorCyte/GUI/Modules/HeaderModule/HeaderModule/obj
/ThorCyte/GUI/Modules/ImageViewerModule/bin
/ThorCyte/GUI/Modules/ImageViewerModule/obj
/ThorCyte/GUI/Modules/MosicaModule/bin
/ThorCyte/GUI/Modules/MosicaModule/obj
/ThorCyte/GUI/Modules/ProtocolModule/ThorCyte.ProtocolModule/bin
/ThorCyte/GUI/Modules/ProtocolModule/ThorCyte.ProtocolModule/obj
/ThorCyte/GUI/Modules/ReviewModule/bin
/ThorCyte/GUI/Modules/ReviewModule/obj
/ThorCyte/GUI/Modules/StatisticModule/ThorCyte.StatisticModule/bin
/ThorCyte/GUI/Modules/StatisticModule/ThorCyte.StatisticModule/obj
/ThorCyte.sln.DotSettings.user
